@import '_variables';
@import 'breakpoint';

.btn-submit {
  background-color: #F8BD1C;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 16px 0;
  display: block;
  margin: auto;

  @include mq() {
    position: absolute;
    width: 85%;
    bottom: 32px;
  }
}