@import '_variables';

.profile_user {
  display: flex;
  padding-bottom: 20px;

  &_image {
    img {
      width: 80px;
      height: 80px;
    }
  }

  &_basicInfo {
    margin-left: 30px;
  }

  &_name {
    display: flex;
    line-height: 3;
  }

  &_action{
    padding: 0 2px;
    margin-left: 10px;

    a {
      border: 1px solid $primary-color;
      border-radius: 4px;
      color: $primary-color;
      padding: 0 6px;
    }
  }


}